<!-- CAROUSEL -->
<section class="simple-carousel">
  <div class="carousel-wrapper">
    <div class="carousel-track">
      <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/23/29/23292d6f5335a943f5643403eb79e286.png" alt="Slide 1" />
      <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/5e/04/5e0471b7f92f1e10cd1f236ca1bb3f38.png" alt="Slide 2" />
      <img src="https://cdnv2.tgdd.vn/mwg-static/topzone/Banner/5e/04/5e0471b7f92f1e10cd1f236ca1bb3f38.png" alt="Slide 3" />
    </div>

    <button class="carousel-arrow left"><i class="fas fa-chevron-left"></i></button>
    <button class="carousel-arrow right"><i class="fas fa-chevron-right"></i></button>

    <div class="carousel-dots">
      <span class="dot active"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</section>


<!-- FILTER + SORT -->
<section class="filters">
  <ul class="categories">
    <li class="active">Tất cả</li>
    <li>MacBook Air M4</li>
    <li>MacBook Pro M4</li>
    <li>MacBook Pro</li>
    <li>MacBook Air</li>
    <li>iMac</li>
    <li>Mac mini</li>
    <li>Mac Studio</li>
    <li>Displays</li>
  </ul>
  <!-- <div class="sort">
    <span>Xếp theo:</span>
    <strong>Nổi bật</strong>
    <i class="fas fa-chevron-down"></i>
  </div> -->
  <div class="sort">
    <span>Xếp theo:</span>
    <div class="sort-dropdown">
      <button class="sort-selected">Nổi bật <i class="fas fa-chevron-down"></i></button>
      <ul class="sort-menu">
        <li>Mới nhất</li>
        <li>Giá thấp đến cao</li>
        <li>Giá cao đến thấp</li>
      </ul>
    </div>
  </div>

</section>


