<div class="product-page">
  <div class="product-left">
    <div class="product-images">
      <img class="main-image" src="macbook-m4.png" alt="MacBook Air M4" />
      <div class="thumbnails">
        <img src="thumb1.png" />
        <img src="thumb2.png" />
        <img src="thumb3.png" />
        <img src="thumb4.png" />
        <img src="thumb5.png" />
      </div>
    </div>
    <div class="color-options">
      <span class="color blue selected"></span>
      <span class="color silver"></span>
      <span class="color gray"></span>
      <span class="color gold"></span>
    </div>
  </div>

  <div class="product-right">
    <h2 class="product-title">MacBook Air 13 inch M4<br><span>16GB/256GB</span></h2>

    <div class="promo-banner green">Tân sinh viên<br>Giảm thêm đến <strong>3.000.000₫</strong></div>
    <div class="promo-banner blue">Giảm thêm 400.000₫<br>Với mã cho sinh viên</div>

    <div class="price-section">
      <p class="old-price">26.490.000₫</p>
      <p class="new-price">25.290.000₫</p>
      <p class="location-time">Tại TP.HCM • Kết thúc: 23:59 ngày 31/08</p>
    </div>

    <div class="promotion">
      <p><strong>Khuyến mãi trị giá 800.000₫</strong></p>
      <ul>
        <li>Phiếu mua hàng Chuột, Bàn phím (Apple) trị giá 500.000₫</li>
        <li>Tặng phiếu mua hàng Balo, Túi chống sốc (giá từ 1 triệu) trị giá 300.000₫</li>
      </ul>
    </div>

    <div class="vip-points">+50.580 điểm tích lũy Quà Tặng VIP 🎁</div>

    <div class="actions">
      <button class="buy-now">MUA NGAY GIÁ 25.290.000₫</button>
      <button class="installment">Mua trả góp 0%</button>
    </div>

    <ul class="features">
      <li>Giao hàng nhanh chóng (nội khu)</li>
      <li>Mỗi số điện thoại mua 3 sản phẩm trong 1 tháng</li>
      <li>Giá có thể thay đổi sớm</li>
    </ul>
  </div>
</div>
